.btn-primary{
    background-color: var(--Primary);
}
.btn-primary:hover{
    background-color: var(--Primary-light);
}

.btn-checkout .price{
    margin-right: 10px;
}

.productBody{
    background-color: var(--Background-light);
    color: var(--Primary);
}

.productFilterSmall{
    padding-bottom: 10px;
}

.productFilterSmall.dropdown-menu{
    padding-left: 5px;
}

.productImage{
    width: 100%;
    height: auto;
}

.productCard{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.productFilterLarge{
    width: 80%;
    background-color: var(--Background);
    padding: 40px;
}

.breadcrumb{
    padding-top: 10px;
    margin-left: 15px;
}

.breadcrumb a{
    color: var(--Primary);
}

.breadcrumb-item.active{
    color: var(--Primary);
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: var(--Primary);
    content: var(--bs-breadcrumb-divider, ">");
  }

  @media (max-width: 768px) {
      .productBody{
        margin-top: 60px;
      }

      .productCard img{
          max-width: 85%;
      }

  }