.btn-primary{
    background-color: var(--Primary);
}
.btn-primary:hover{
    background-color: var(--Primary-light);
}

.btn-checkout .price{
    margin-right: 10px;
}

.productBody{
    background-color: var(--Background-light);
    color: var(--Primary);
}

.btn-secondary{
    color: var(--Primary);
    background-color: var(--Background);
    border-color: var(--Background-dark);
}
.btn-secondary:hover{
    color: var(--Primary);
    background-color: var(--Background);
    border-color: var(--Background-dark);
}

.dropdown-menu.show{
    padding: 20px;
    color: var(--Primary);
    background-color: var(--Background);
}

.productFilterSmall{
    padding-bottom: 10px;
}

.productFilterSmall.dropdown-menu{
    padding-left: 5px;
}

.productImage{
    width: 100%;
    height: auto;
}

.productCard{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}

.productFilterLarge{
    width: 60%;
    background-color: var(--Background);
    padding: 40px;
}

.breadcrumb{
    padding-top: 10px;
    margin-left: 15px;
}

.breadcrumb a{
    color: var(--Primary);
}

.breadcrumb-item.active{
    color: var(--Primary);
}

.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: var(--Primary);
    content: var(--bs-breadcrumb-divider, ">");
}

.thumbnails img{
    margin-top: 12px;
    width: 93px;
}

.productDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.quantityArea{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.quantityArea p{
    margin-right: 20px;
}

.addCart{
    background-color: var(--Primary-100);
    color: var(--Background-dark);
    width: 100%;
}

.cart{
    align-self: flex-end;
}

.productSpecifics{
    margin-top: 120px;
    margin-bottom: 40px;
}

@media (max-width: 988px) {
    .productBody{
      margin-top: 120px;
    }

    .productCard img{
        max-width: 85%;
    }
    .productSpecifics{
      margin-top: 80px;
  }
  .productFilterLarge{
      margin-bottom: 20px;
      width: 70%
  }

}  

@media (max-width: 768px) {
      .productBody{
        margin-top: 100px;
      }

      .productCard img{
          max-width: 85%;
      }
      .productSpecifics{
        margin-top: 80px;
    }
    .productDetails{
        margin-top: 20px;
    }

  }

  @media (max-width: 576px) {
    .productBody{
      margin-top: 60px;
    }

    .productCard img{
        max-width: 85%;
    }
    .productSpecifics{
      margin-top: 80px;
  }
  .productDetails{
      margin-top: 20px;
  }

}

.btn-info {
    color: #000;
    background-color: white;
    border-color: black;
}

