.navbar{
    background-color: var(--Primary-extra-light);
}
.nav-link{
    color: var(--Primary) !important;
} 

.nav-link.active{
    color: var(--Secondary-dark) !important;
    font-weight: bold;
    border-bottom: 2px solid var(--Secondary-dark);
} 


.hero{
    min-height: 70vh;
    background: var(--Primary-gradient);
    display: flex;
    align-items: center;
}

.heroImg{
    width: 100%;
    padding: 34px 40px;
}

/* lg screen */
@media (max-width: 1199.98px) { 
    .heroImg{
        padding: 20px;
    }
 }
 /* md screen */
@media (max-width: 991.98px) { 
    .heroImg{
        padding: 12px;
    }
 }

 .sectionTitle{
     text-align: center;
     margin-bottom: 20px;
 }
 .card{
     margin: 10px 0px;
}

.footer{
    background-color: #c3c3c3;
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

