:root{
    /* Color */
    --Primary: #FCEDD2;
    --Primary-100: #F3D29A;
    --Background: #2D2217;
    --Background-dark: #140F0A;
    --Background-light: #594736;
    --Primary-gradient: linear-gradient(180deg, #EFE4FC 0%, rgba(239, 228, 252, 0) 100%);
    --Primary-gradient-rev:linear-gradient(180deg, rgba(239, 228, 252, 0) 0%, #EFE4FC 100%);
    --Secondary-dark:#A200DB;
    --Secondary:#D600E9;
    --Secondary-light:#E988F1;
    --Secondary-extra-light: #FAE3FB;
    --Danger-dark:#B10068;
    --Danger:#EE008D;
    --Danger-light:#F183BE;
    --Danger-extra-light:#FBE1EF;
    --Warning-dark:#E5410F;
    --Warning:#EE5F14;
    --Warning-light:#FF8E1F;
    --Warning-extra-light: #FFF2E0;
    --Success-dark:#08B226;
    --Success:#90F138;
    --Success-light:#C6F894;
    --Success-extra-light:#F2FEE5;
    --Gray-800:#262626;
    --Gray-700:#434343;
    --Gray-600:#555555;
    --Gray-500:#7B7B7B;
    --Gray-400:#9D9D9D;
    --Gray-300:#C4C4C4;
    --Gray-200:#D9D9D9;
    --Gray-100:#E9E9E9;
    --white:#FFFFFF;
}

.homePage {
    padding-top: 62px;
}

@media (min-width: 576px) {
    .homePage {
        padding-top: 104px;
    }
}

@media (min-width: 992px) {
    .homePage {
        padding-top: 0;
    }
}


@keyframes promoAnime {
    0% { bottom: 0%;}
    28% { bottom: 0%;}
    33% { bottom: 100%;}
    61% { bottom: 100%;}
    66% { bottom: 200%;}
    94% { bottom: 200%;}
    100% { bottom: 300%;}
}

.promo {
    width: 100%;
    height: 10vh;
    overflow: hidden;
    color: var(--Primary);
    background-color: black;
}

.promoMove {
    position: relative;
    bottom: 0%;
    animation: promoAnime linear 15s infinite;
}

.promoMove:hover {
    animation-play-state: paused;
}

.promoSlide {
    height: 10vh;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto";
    cursor: pointer;
}

.promo p {
    font-size: 1.25rem;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0 5px;
    color: white;
}

.promo h4 {
    font-size: 1.75rem;
    color: black;
    background-color: #FF6451;
    padding: 8px 10px;
    font-weight: bold;
    margin: 0;
}

.Categories01 {
    display: flex;
    background-color: black;
}

.CatImage {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    flex: 0 0 auto;
    width: 33.33333333333%;
}
.CatImage img{
    height: auto;
    width: 100%;
    filter: saturate(50%) brightness(60%);
    transition-duration: 0.5s;
}

.CatDetail {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: flex-end;
}

.CatContent {
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.55);
    margin: 0;
    padding: 1rem 1.75rem;
    opacity: 0;
    height: 18vh;
    transition-duration: 0.5s;
}

.CatImage:hover img {
    filter: saturate(100%) brightness(100%);
    transform: scale(1.1);
}

.CatImage:hover .CatContent {
    opacity: 1;
}

.Categories02 {
    background-color: var(--Background-dark);
    color: var(--Primary);
    overflow: hidden;
}

.Categories02 .CatImage {
    width: 100%;
}

.Categories02 .CatContent {
    padding: 1rem 0.5rem;
    height: 18vh;
}

.SlothMain {
    height: 100%;
    position: relative;
    cursor: default;
    overflow: hidden;
    flex: 0 0 auto;
    border: 10px solid var(--Primary);
    /* box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.45); */
}

.SlothMain img {
    width: 100%;
}

.SlothDetail {
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.SlothContent {
    color: white;
    background-color: rgba(0, 0, 0, 0.65);
    text-align: center;
    padding: 1rem 0.75rem;
    opacity: 1;
    height: 20vh;
    transition-duration: 0.5s;
}

.juneSub .CatImage {
    width: 100%;
}

@media (max-width: 992px) {
    .CatContent p {
        display: none;
    }

    .Categories01 .CatContent,
    .Categories02 .CatContent {
        opacity: 1;
        height: 10vh;
    }

}

@media (max-width: 786px) {
    .promo p {
        font-size: 0.9rem;
        text-align: center;
    }
    .promo h4 {
        font-size: 1.15rem;
    }

    .Categories01 {
        max-height: auto;
        overflow-x: auto;
    }
   
    .CatImage {
        width: 100%;
    }

    .Categories01::-webkit-scrollbar {
        display: none;
    }

    .Categories01 .CatImage {
        width: 80vw;
    }

    .Categories02 img {
        filter: none;
    }

    .Categories02 .CatContent h4 {
        font-size: 1rem;
    }

    .SlothContent {
        padding: 1rem 0.75rem;
    }

    .Categories02 .CatImage {
        display: none;
    }

    .SlothMain {
        box-shadow: none;
        margin: 0 1rem;
        height: 60vh;
        border: none;
        /* box-shadow: none; */
    }
}

@media (max-width: 576px) {
    .CatImage img {
        filter: none;
    }
}
